<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blazor Projekt</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/OCR">
                <span class="bi bi-file-earmark-text"></span> OCR
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Wetter">
                <span class="bi bi-file-earmark-text"></span> Wetter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Fusball">
                <span class="bi bi-file-earmark-text"></span> Fusball
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/swissteams">
                <span class="bi bi-file-earmark-text"></span> swissteams
            </NavLink>
        </div>
    </nav>
</div>
