<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>BlazorProjekt</title>
    <base href="~/" />
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="WetterStyleSheet.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <!-- Blazor Framework -->
    <script src="_framework/blazor.server.js"></script>

    <!-- Eigene Scripts -->
    <script src="js/ball.js"></script>
    <script src="weather.js"></script>
    <script src="/darkmode.js"></script>
</body>
</html>
